@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h1>ADD NEW CUISINE</h1>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
  </div>
  
  <input type="submit" class="btn-block" value="ADD CUISINE" />
}

@Html.ActionLink("VIEW ALL CUISINES", "Index", "Cuisines", null, new { @class = "btn-block" })