@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h1>DELETE THIS CUISINE?</h1>
@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="YES, DELETE" />
}

@Html.ActionLink("VIEW ALL CUISINES", "Index", "Cuisines", null, new { @class = "btn-block" })