@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Cuisine>;

<h1>CUISINES</h1>

@if (@Model.Count == 0)
{
  <h4>no cuisines found</h4>
} 

@foreach (Cuisine cuisine in Model)
{
  <li>@Html.ActionLink($"{cuisine.Type}", "Details", new { id = cuisine.CuisineId })</li>
}

<div class="two-buttons">
  @Html.ActionLink("ADD NEW CUISINE", "Create", "Cuisines", null, new { @class="btn" })
  <a class="btn" href="/Restaurants/Create">ADD RESTAURANT</a>
</div>