@{
  Layout = "_Layout";
}

<h1>THANK YOU FOR YOUR REVIEW</h1>
<div class="three-buttons">
  @Html.ActionLink("REVIEW ANOTHER RESTAURANT", "Create", "Reviews", null, new { @class="btn" })
  @Html.ActionLink("VIEW ALL RESTAURANTS", "Index", "Restaurants", null, new { @class="btn" })
  @Html.ActionLink("VIEW ALL CUISINES", "Index", "Cuisines", null, new { @class="btn" })
</div>