@{
  Layout = "_Layout";
}

<h1>Thanks for leaving a review!</h1>
<div class="fake-button well">
  <center><p>@Html.ActionLink("Home", "Index", "Home")</p></center>
</div>
<div class="fake-button well">
  <center><p>@Html.ActionLink("Add Review", "Create", "Reviews")</p></center>
</div>