body {
  margin: 0 auto;
  max-width: 1200px;
}

.render-body {
  margin-top: 20%;
}

.well {
  background-color: #f5f5f5;
  border: 2px solid #111111;
}

.fake-button {
  margin-top: 2%;
  border: 1px solid #111111;
  background-color: #f5f5f5;
  padding: 2px;
  width: 50%;
  margin-left: 25%;
}

.fake-button a {
  color: #111111;
  font-size: 2em;
}

.fake-button:hover {
  background-color: #111111;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
}

.fake-button:hover a {
  color: #f5f5f5;
  text-decoration: none;
}

p {
  font-size: medium;
}

p.link a {
  font-size: small;
}

li {
  font-size: large;
}

/* h3.review {
  font-size: medium;
} */