html {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  background-image: url(https://image.freepik.com/free-photo/wooden-board-empty-table-top-blurred-background_1253-1584.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.render-body {
  margin-top: 20%;
}

.well {
  background-color: #f5f5f585;
  border: 2px solid #111111;
  opacity: .9;
}

.fake-button {
  margin-top: 2%;
  border: 1px solid #111111;
  background-color: #f5f5f5;
  padding: 2px;
  width: 50%;
  margin-left: 25%;
}

.fake-button a {
  color: #111111;
  font-size: 2em;
}

.fake-button:hover {
  background-color: #111111;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
}

.fake-button:hover a {
  color: #f5f5f5;
  text-decoration: none;
}

p {
  font-size: medium;
}

p.link a {
  font-size: small;
}

ul {
  text-decoration: none;
}

li {
  font-size: large;
  margin-left: 38%;
  text-decoration: none;
}

li a {
  color: #111111;
}

h1, h2, h3 {
  text-align: center;
}

h4 {
  margin-left: 38%;
}

#reviews {
  height: 400px;
  overflow-y: auto;
  border: 2px solid #f5f5f585;
}

#reviews h3 {
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 2%;
}

#review {
  padding: 2px;
}

#review h4 {
  text-decoration: none;
  margin-left: 0;
}

#delete {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #111111;
}

p.delete {
  margin-left: 40%;
}

#delete:hover {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #f5f5f5;
  background-color: #111111;
  color: #f5f5f5;
}