@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h1>DELETE THIS RESTAURANT?</h1>

<p class="delete">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="YES, DELETE" />
}

@Html.ActionLink("VIEW ALL RESTAURANTS", "Index", "Restaurants", null, new { @class="btn-block" })